menu_rus="
Введите номер команды из списка:
        1) Напечатать имя текущего каталога
        2) Сменить текущий каталог
        3) Создать файл
        4) Предоставить всем право на запись в файл
        5) Удалить файл
        6) Выйти из программы"
menu_eng="
Select number of command from list:
	1) Print name of present working directory
	2) Change current directory
	3) Make file
	4) Give all users write access to the file
	5) Remove file
	6) Exit from programm"



err_msg_rus="Ошибка. Подробности смотрите в $log_file"
err_msg_eng="Error. Check the details in $log_file"

command_1_rus="Текущий каталог:"
command_1_eng="Current directory:"

command_2_rus="Введите путь к новому каталогу"
command_2_eng="Enter a path to new dir"

command_2_log_rus="команда 2: текущий каталог сменен на \"$arg\""
command_2_log_eng="Command 2: current directory is changed to \"$arg\""

command_3_rus="Введите имя нового файла"
command_3_eng="Enter a new file name"

command_3_log_rus="команда 3: файл \"$arg\" успешно создан"
command_3_log_eng="Command 3: file \"$arg\" is successfully created"

command_4_rus="Введите имя файла"
command_4_eng="Enter a file name"

command_4_log_rus="команда 4: текущий каталог сменен на \"$arg\""
command_4_log_eng="Command 4: currect directory is changed to \"$arg\""

command_5_rus="Введите имя файла"
command_5_eng="Enter a file name"

command_5_conf_rus="Вы точно желаете удалить файл \"$arg\"? (yes/no)"
command_5_conf_eng="Are you sure to delete \"$arg\" file? (yes/no)"

command_5_log_rus="команда 5: файл \"$arg\" успешно удален"
command_5_log_eng="command 5: file \"$arg\" is successfully created"

command_err_rus="!!!Некорректно введен номер команды!!!
!!!Попробуйте снова!!!"
command_err_eng="!!!Incorrect command number!!!
!!!Try again!!!"

